#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: blue;
    padding: 10px 20px;
}

.logo{
    min-height: 25px;
    max-height: 50px;
}

nav.nav-main{
    ul{
        li{
            display: inline-block;
            list-style: none;
            a{
                display: block;
                text-decoration: none;
                padding: 10px;
                color: #fdfdfd;
            }
        }
    }
}